
.col {
    width: 92.75%;
}

@media only screen and (min-width: 576px) {
  .col {
      width: 94.25%;
  }
}

@media only screen and (min-width: 768px) {
    .col {
        width: 95.75%;
    }
  }

@media only screen and (min-width: 992px) {
    .col {
      width: 18%;
      margin: 0 8.5px;
    }
  }

@media only screen and (min-width: 1200px) {
    .col {
      width: 18%;
      margin: 0 10.5px;
    }
}